---
pagination: 
    data: experiments
    size: 1
    alias: experiment
permalink: "experiments/{{ experiment.title | slug  }}/index.html"

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ experiment.title }}</title>

    <link rel="stylesheet" type="text/css" href="{{ '/style.css' | url }}" />

</head>
<body class="{{ experiment.title | prepend: 'e-' }} experiment">

    <main>
        <a class="back btn" href="{{ '/' | url }}">back</a>

    </main>

    {% if experiment.datgui %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.0-0/dat.gui.min.js"></script>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tweakpane@3.0.5/dist/tweakpane.min.js"></script>
    <script src="https://unpkg.com/p5.createloop@0.2.8/dist/p5.createloop.js"></script>
    <script src="../../js/{{ experiment.sketch }}"></script>
  

</body>
</html> 